In [1]:
import pandas as pd
%matplotlib inline

In [2]:
%%bash
ls data/

FUF Salesforce Data Dump.csv
combined_tree_data_with_header_with_derived_neighborhood.csv

In [3]:
df = pd.read_csv('data/FUF Salesforce Data Dump.csv')
df.head()

/Users/spencer/Documents/Personal/datasci-street-tree-viz/venv/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2705: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Tree Planting: Planting ID,Tree Species,Tree Bldg Num,Tree Street,Tree Zip Code,Neighborhood,Cross Street,Basin Type,Permit #,Survey2mDoneDate,Survey2mStatus,Care1Done,2yrDone,Survey2yrStatus,3yrDone,Survey3yrStatus,4yrDone,Survey4yrStatus,5yrDone,Survey5yrStatus
0,A-61746,NaN,743,North Point St,94109,Nob Hill/Chinatown,Hyde & Leavenworth,NaN,776830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-24604,Prunus serrulata 'Kwanzan',456,Missouri St,94107,Potrero Hill,19th-20th St.,3x3,NaN,NaN,NaN,9/30/1999,NaN,NaN,11/3/2001,NaN,NaN,NaN,NaN,NaN
2,A-7957,Prunus yedoensis 'Akebono',960,Anza St,94118,USF/NoPa,Almaden Court,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A-63601,NaN,NaN,NaN,NaN,Crocker Amazon/Cayuga Terrace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A-24605,Trachycarpus fortunei,1000,Jarboe Ave,94110,Bernal Heights,Bronte And Bradford,NaN,NaN,NaN,NaN,8/31/2000,NaN,NaN,4/13/2002,1 Very healthy,NaN,NaN,NaN,NaN

In [12]:
df.shape

(61745, 23)

In [4]:
df.describe()

,Tree Planting: Planting ID,Tree Species,Tree Bldg Num,Tree Street,Tree Zip Code,Neighborhood,Cross Street,Basin Type,Permit #,Survey2mDoneDate,Survey2mStatus,Care1Done,2yrDone,Survey2yrStatus,3yrDone,Survey3yrStatus,4yrDone,Survey4yrStatus,5yrDone,Survey5yrStatus
count,61745,51502,59790.0,61371,57992,61694,41304,25983,1763,4632,14435,27556,760,747,21395,18690,61,60,3244,3046
unique,61745,394,7153.0,2434,633,52,6326,141,1097,347,9,1098,262,5,1129,6,30,3,502,5
top,A-32230,Prunus serrulata 'Kwanzan',100.0,Folsom St,94110,Mission,Ortega,3x3,hardcopy,2/20/2014,1 Very healthy,11/30/2000,3/2/2016,2 Good,7/20/2002,2 Good,3/21/2015,2 Good,9/30/2005,1 Very healthy
freq,1,3226,288.0,508,8761,6000,285,12026,325,91,8872,458,60,343,288,7515,11,35,121,1481

In [5]:
df.filter(regex='.*Status').count()

Survey2mStatus     14435
Survey2yrStatus      747
Survey3yrStatus    18690
Survey4yrStatus       60
Survey5yrStatus     3046
dtype: int64

In [6]:
df[['Survey2mStatus', 'Survey3yrStatus']].dropna().shape

(9970, 2)

In [7]:
df['Survey2mStatus'].value_counts()

1 Very healthy          8872
2 Good                  4264
3 Struggling             896
5 Dead or gone           216
4 Almost dead            180
-1                         4
2                          1
1                          1
survey but no remark       1
Name: Survey2mStatus, dtype: int64

In [8]:
df['Survey3yrStatus'].value_counts()

2 Good            7515
1 Very healthy    6636
3 Struggling      2845
5 Dead or gone    1156
4 Almost dead      518
5 dead/gone         20
Name: Survey3yrStatus, dtype: int64

In [9]:
df['Survey2mStatus_num'] = df['Survey2mStatus'].str.extract('(\d+) \w+', expand=False).astype(float)
df['Survey3yrStatus_num'] = df['Survey3yrStatus'].str.extract('(\d+) \w+', expand=False).astype(float)
df['status_change'] = df['Survey2mStatus_num'] - df['Survey3yrStatus_num']
df['status_change'].value_counts().sort_index()

-4.0     237
-3.0     267
-2.0     840
-1.0    3056
 0.0    4150
 1.0    1269
 2.0     136
 3.0      11
Name: status_change, dtype: int64

# Neighborhoods

In [10]:
df.Neighborhood.value_counts()

Mission                          6000
Bernal Heights                   3956
Outer Sunset                     3954
Bayview                          3577
Mt. Davidson                     3076
Noe Valley                       3017
Excelsior                        2714
SoMa                             2691
Inner Sunset                     2641
Outer Richmond                   2455
Inner Richmond                   2149
OMI                              2143
Potrero Hill                     1856
Hayes Valley                     1810
Castro                           1750
USF/NoPa                         1668
Portola                          1359
Russian Hill                     1322
Western Addition/Hayes Valley    1181
Haight/Cole Valley               1169
Tenderloin                       1109
Parkside                         1043
Pacific Heights                  1038
Glen Park                         971
Crocker Amazon/Cayuga Terrace     845
Marina/Cow Hollow                 820
Visitacion Valley                 777
Nob Hill/Chinatown                756
Central Sunset                    659
Telegraph Hill                    435
Presidio Heights                  423
Sunnyside/Balboa Terrace          417
West Portal                       284
Upper Market                      241
Lakeside                          226
Duboce Triangle/Lower Haight      176
Twin Peaks                        166
Mission Terrace                   154
South Central Sunset              104
Laurel Heights                    101
Balboa Terrace                     92
FourCorners                        77
Parkmerced                         62
Dogpatch/Mission Bay               49
North Beach/Telegraph Hill         49
Presidio of San Francisco          44
Financial District                 34
Novato                             20
Hunters Point                      16
Diamond Heights                     8
NonFUFplanting                      6
Sunset                              4
Name: Neighborhood, dtype: int64